section {
	width: 350px;
	float: left;
	padding: 10px;
	font-family: verdana;
}
h1 {
	background-color: #351b04;
	color: white;
	font-family: verdana;
	text-align: center;
	padding: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #351b04;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #384e1d;
}

.active {
  background-color: #04AA6D;
}

h2 {
	text-align: left;
	height: 50px;
	width: 150px;
	padding: 30px;
	font-family: verdana;
}
h3 {
	text-align: center;
	font-family: verdana;
}
p {
	font-family: verdana;
	padding: 15px;
}