section {
	width: 350px;
	float: left;
	padding: 10px;
}
h1 {
	background-color: #351b04;
	color: white;
	text-align: center;
	padding: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #351b04;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #384e1d;
}

.active {
  background-color: #4e341d;
}

h2 {
	text-align: left;
	height: 50px;
	width: 150px;
	padding: 30px;
	font-family: verdana;
}
h3 {
	text-align: center;
	font-family: verdana;
}
p {
	font-family: verdana;
	padding: 15px;
}
.footer {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 90px;
  background-color:#223b05;
  text-align: center;
}
.footer-text-left {
  font-size:25px;
  padding-left:40px;
  float:center;
  word-spacing:20px;
  color: white;
  font-family: serif;
 }
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  color: #4e341d;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
	background-color: #e3e2e1;
}
.emphasized { font-style: italic; }